[Unit]
Description=AutoSSH tunnel service
After=network.target

[Service]
User=pi
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -NR 8686:localhost:22 pi@c-552f524e.022-60-6762675.bbcust.telenor.se -p 8282
Restart=on-failure

[Install]
WantedBy=multi-user.target