[Unit]
Description=AutoSSH tunnel service
After=network.target

[Service]
User=pi
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -NR 9687:localhost:22 pi@83.226.216.148 -p 8282
Restart=on-failure

[Install]
WantedBy=multi-user.target