[Unit]
Description=Switch to acces point if wlan not available
After=network-online.target

[Service]
User=pi
ExecStart=/usr/bin/python3 /home/pi/raspiApWlanScripts/network_switch.py
Restart=on-failure
RestartSec=1

[Install]
WantedBy=network-online.target